#menu {
    display: flex;
}
#menu a {
    box-sizing: border-box;
    margin-right: 10px;
    padding: 10px 25px;
    font: 16px Arial;
    text-decoration: none;
    color: white;
    border: 1px solid #16A177;
    background-color: #16A177;
}
#menu a:hover, #menu a.active {
	color: blue;
	border: 1px solid blue;
	background-color: #F5F6FA;
}
#menu1 {
    display: flex;
    flex-direction: column;
    width: 300px;
}
#menu1 a {
    margin-bottom: 10px;
    padding: 15px 25px;
    font: 16px Arial;
    text-decoration: none;
    color: white;
    border: 1px solid #16A177;
    background-color: #16A177;
}
#menu1 a:hover, #menu1 a.active {
	color: blue;
	border: 1px solid blue;
	background-color: #F5F6FA;
}
#menu2 a:hover, #menu2 a.active {
    background-color: #16785C;
}
#menu2 a {
    padding: 15px 40px;
    font: 16px Arial;
    text-decoration: none;
    color: white;
}
#menu2 {
    display: flex;
    background-color: #16A177;
}